body {
    margin: 55px;
    font-size: 20px;
}
h1 {
    font-size: 60px;
    color: red;
}
h2 {
    font-size: 35px;
}

img {
	max-width: 100%;
}

figure {
	margin: 20px;
}

@media screen and (min-width: 457px) {
    body {
      background: gray;
      margin: 55px;
    }
    
    figure {
        column-count: 2;
        column-gap: 20px;
    }

    @media screen and (min-width: 794px) {
        body {
          background: white;
          margin: 55px;
          font-size: 25px;
        }
        
        figure {
          width: 40%
        }